# Exclude Python cache files
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__/*

# Exclude virtual environments, Git, and unnecessary files
prune .git
prune .venv
prune glue_launcher
prune utils
exclcude .env
exclcude main.py
exclude .gitignore
exclude requirements.txt
exclude constraints.txt
global-exclude .DS_Store
exclude MANIFEST.in

exclude setup.py
recursive-include pokemonetl/etl *.py
recursive-include pokemonetl/queries *.py
recursive-include pokemonetl/queries *.sql

#Optionally include sample data
recursive-include sample_data/ *.py
recursive-include sample_data/ *.csv
recursive-include config/ *.py
recursive-include config/ *.json

