# Exclude Python cache files
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__/*

# Exclude virtual environments, Git, and unnecessary files
prune .git
prune .venv
prune glue_launcher
prune utils
exclcude .env
exclcude main.py
exclude .gitignore
exclude requirements.txt
global-exclude .DS_Store
exclude MANIFEST.in

exclude setup.py
recursive-include src/queries/ *.py
recursive-include src/queries/ *.sql
#include config/datalake_pipeline_config.json
#include sample_data/pokemon_data.csv

